<h1>Teams</h1>

<% @teams.each do |team| %>
  <li><a href = "/teams/<%= team %>"><%= team %></a></li>
<% end %>
</br>

<h1> Positions </h1>

<% @players.each do |position, player| %>
  <li><a href="/position/<%= position %>"><%= position %></a></li>
<%end%>
