<h1><%= @position %></h1>

  <% @roster.each do |team, players| %>
    <% players.each do |position, player| %>
      <% if @position == position %>
        <li><%= "#{team}: #{player}" %> </li>
      <% end %>
    <% end %>
  <% end %>
